<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="container">
      <nav>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </nav>
    </header>
    <main class="container">
      <h1>Site Name</h1>
      <img src="images/tesla.jpg" alt="Tesla" />
      <img src="images/ferarri.jpg" alt="Ferarri" />
    </main>
    <footer class="container">
      <p>&copy; 2023 Jerry Guerra</p>
    </footer>
  </body>
</html>