/*will be variables*/
/*colors
bright: #3981BF;
muted:#938B8A;
dark:#000000;
light:#DB8600;
intense:#DB1B00;
*/

/*fonts
font-family: 'comfortaa', sans 
serif;
font-family: 'loral', serif;

*/
:root{  
    --bright: #3981BF;
   --muted:#938B8A;
   --dark:#000000;
   --light:#DB8600;
   --intense:#DB1B00;
   --background:grey;

   --type: 'comfortaa', sans 
serif;
    --headings: 'lora', serif;
   

}

body{
    background: var(--background);
    color:var(var(--light));
    font-size:x-large;
    font-family: var(--type)
}

h1, h2, h3{
    color:var(--intense);
    font-family: var(--headings)
    
}

nav{
    text-align: center;
}

nav a{
    background:var(--bright);
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    color: gold;
    border: 2px var(--bright);
    border-radius: 20px;
}

nav a:hover{
    color: whitesmoke;
    background: var(--light);
}


img{
    margin: 10px auto;
    width: 50%;
    display:block; 
}

.container{
    padding: 20px;
    width: 80%;
    margin: 10px auto;
    border: 2px solid var(--bright);
}